input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 0 10px 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;

  &.full-width {
    width: 90%;
  }
}

label {
  font-size: 18px;
}
