h1 {
  font-size: 36px;
  font-family: 'Lato';
  color: #45CB85;
}

h2 {
  font-size: 24px;
  font-family: 'Lato';
  color: #45CB85;
}

h3 {
  font-size: 20px;
  font-family: 'Lato';
  color: #45CB85;
}
