doctype html
html(prefix="og: http://ogp.me/ns#")
head
    meta(charset='UTF-8', name='viewport', content='width=device-width')
    title King of the Tee
    meta(name='description', content='Match up and compete on King of the Tee. 2 man scramble tournaments every week.')
    link(rel='stylesheet', media='screen', href!= cssPath)

body
    #main
    script(src!= bundlePath)
